body{
    
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
    margin: 0;
    
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FAF4EC;
    margin: 0;
}

main h1{
    width: 100%;
    grid-column: 1/3;
}

.about{
    
}

